<ion-view view-title="Addcontact">
  <ion-content class="padding">
     <form ng-submit="addcontact()">
      <div class="list list-in sert">
		<label class="item item-input item-stacked-label">
			<span class="input-label">Username</span>
			<input type="text" placeholder="Username" ng-model="contactData.username" name="username">
		</label>
		<label class="item">
			<button class="button button-block button-positive" type="submit">Add</button>
		</label>
		
		<ul id="errors">
			<li ng-show="validation.usernameRequired">Username required</li>
			<li ng-show="validation.usernameNoExist">Username doesn't exist</li>
		</ul>
      </div>
    </form>
  </ion-content>
</ion-view>
