<ion-view view-title="{{event.name}}">
	<ion-content>
		<div class="list card">

		  <div class="item item-avatar">
		    <img src="img/48.jpg">
		    <h2>{{event.creator}}</h2>
		    <p>
		    	<i class="icon ion-ios-clock-outline"></i>
		    	{{event.date*1000 | date:"MM/dd/yyyy 'at' h:mma"}}
		    </p>
		  </div>

		  <div class="item item-body">
		    <img class="full-image" src="img/feed/5.jpg">
		    <h2>Description</h2>
		    <p>
		      {{event.description}}
		    </p>
		    <hr>
		    <h2>Comments</h2>
		    <div class='comment' ng-repeat='comment in event.comments'>
		    	<p class='author'>{{comment.userId.username}}</p>
		    	<p class='citation'>{{comment.text}}</p>	
		    </div>
		    <hr>
		    <h2>Your comment</h2>
		    <form name="signupForm" ng-submit="doAddComment()">
		      <div class="list list-insert">
				<label class="item item-input item-stacked-label">
					<input name="comment" type="text" placeholder="Comment" ng-model="formData.comment">
				</label>
		        <label class="item">
		          <button class="button button-block button-positive" type="submit">Send</button>
		        </label>		
		      </div>
		    </form>
		  </div>

		</div>
	</ion-content>
</ion-view>