<ion-modal-view>
  <ion-header-bar class='bar-positive'>
    <h1 class="title">Add a contact</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeContactAddModal()"><i class="icon ion-close"></i></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form name="signupForm" ng-submit="doAddContact()">
      <div class="list list-insert">
		<label class="item item-input item-stacked-label">
			<span class="input-label">Username</span>
			<input name="username" type="text" placeholder="Username" ng-model="formDataAddContact.username">
		</label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Submit</button>
        </label>		
      </div>
    </form>
  </ion-content>
</ion-modal-view>
